In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
from glob import glob

%config InlineBackend.figure_format = 'retina'

In [2]:
file_name = glob("data/misemise_downcasted.csv")
file_name

df = pd.read_csv(file_name[0], encoding='cp949')
df.head(4)

   PM10  PM25      지역        측정일시
0  33.0  11.0  강원 강릉시  2015010101
1  35.0   8.0  강원 강릉시  2015010102
2  37.0   9.0  강원 강릉시  2015010103
3  42.0  11.0  강원 강릉시  2015010104

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27910059 entries, 0 to 27910058
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   PM10    float64
 1   PM25    float64
 2   지역      object
 3   측정일시    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 851.7+ MB

In [4]:
# for col in df.columns:
#     print(df[col].dtypes.name)
#     dtype_name = df[col].dtypes.name
#     if dtype_name.startswith("int"):
#         if df[col].min() >= 0:
#             df[col] = pd.to_numeric(df[col], downcast="unsigned")
#         else:
#             df[col] = pd.to_numeric(df[col], downcast="integer")
#     elif dtype_name.startswith("float"):
#         df[col] = pd.to_numeric(df[col], downcast="float")
#     elif dtype_name == "bool":
#         df[col] = df[col].astype("int8")
#     elif dtype_name == "object":
#         df[col] = df[col].astype("category")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27910059 entries, 0 to 27910058
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   PM10    float64
 1   PM25    float64
 2   지역      object
 3   측정일시    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 851.7+ MB

In [6]:
# df.to_csv('misemise.csv',index=False, encoding="cp949")

In [7]:
df.head()

   PM10  PM25      지역        측정일시
0  33.0  11.0  강원 강릉시  2015010101
1  35.0   8.0  강원 강릉시  2015010102
2  37.0   9.0  강원 강릉시  2015010103
3  42.0  11.0  강원 강릉시  2015010104
4  47.0   8.0  강원 강릉시  2015010105

In [8]:
df['측정일시'] = df["측정일시"].astype(str).str[:8].astype(int)
df['연도'] = df["측정일시"].astype(str).str[:4].astype(int)
df['월'] = df["측정일시"].astype(str).str[4:6].astype(int)
df['일'] = df["측정일시"].astype(str).str[6:8].astype(int)

In [9]:
df.head()

   PM10  PM25      지역      측정일시    연도  월  일
0  33.0  11.0  강원 강릉시  20150101  2015  1  1
1  35.0   8.0  강원 강릉시  20150101  2015  1  1
2  37.0   9.0  강원 강릉시  20150101  2015  1  1
3  42.0  11.0  강원 강릉시  20150101  2015  1  1
4  47.0   8.0  강원 강릉시  20150101  2015  1  1

In [10]:
df.isnull().sum()

PM10    1980124
PM25    7252625
지역            0
측정일시          0
연도            0
월             0
일             0
dtype: int64

In [11]:
df = df.dropna()

In [12]:
df.isnull().sum()

PM10    0
PM25    0
지역      0
측정일시    0
연도      0
월       0
일       0
dtype: int64

In [13]:
df = df.groupby(['지역', '측정일시', '연도', '월', '일']).mean()

In [14]:
df

                                 PM10       PM25
지역     측정일시     연도   월  일
강원 강릉시 20150101 2015 1  1   60.375000   8.625000
       20150102 2015 1  2   30.416667   7.416667
       20150103 2015 1  3   27.333333   6.958333
       20150104 2015 1  4   49.869565  21.782609
       20150105 2015 1  5   62.291667  25.500000
...                               ...        ...
충북 충주시 20211227 2021 12 27  23.912088  13.010989
       20211228 2021 12 28  50.770833  35.802083
       20211229 2021 12 29  54.864583  38.500000
       20211230 2021 12 30  33.031579  16.315789
       20211231 2021 12 31  23.895833   8.541667

[416179 rows x 2 columns]

In [15]:
df.to_csv('misemise_processed.csv', encoding="cp949")